@-ms-viewport{
  width: device-width;
}

html, body, .container-fluid {
	margin: 0;
	width: 100%;
	padding: 0;
	background-color: transparent;
}

.container {
	margin: 0 auto;
	width: 90%;
}

@font-face {
	font-family: BikoBlack;
	src: url("../fonts/BikoBlack.otf") format("opentype");
}

@font-face {
	font-family: BikoBold;
	src: url("../fonts/BikoBold.otf") format("opentype");
}

@font-face {
	font-family: BikoRegular;
	src: url("../fonts/BikoRegular.otf") format("opentype");
}

@font-face {
	font-family: BikoLight;
	src: url("../fonts/BikoLight.otf") format("opentype");
}


@font-face {
	font-family: SlimJoe;
	src: url("../fonts/SlimJoe.otf") format("opentype");
}

@font-face {
	font-family: BigJohn;
	src: url("../fonts/BigJohn.otf") format("opentype");
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave.otf") format("opentype");
	font-style: normal;
	font-style: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-Bold-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-SemiBold-Italics.otf") format("opentype");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: Mohave;
	src: url("../fonts/Mohave-SemiBold.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: WPDomino;
	src: url("../fonts/WPDomino.ttf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: WPDomino;
	src: url("../fonts/WPDomino-Bold.ttf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Moon;
	src: url("../fonts/Moon.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: Moon;
	src: url("../fonts/Moon-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Lato;
	src: url("../fonts/Lato-Regular.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: Lato;
	src: url("../fonts/LatoLight.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: Lato;
	src: url("../fonts/LatoBold.ttf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Genome;
	src: url("../fonts/GenomeThin.otf") format("opentype");
	font-weight: bold;
}

.lighter {
	color: #B8B8B8;
}

.highlight {
	color: #40beb1;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}
