<template name="Footer">
  <footer class="page-footer teal lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l4 m4 s12">
                <h5 class="white-text">Contact Us</h5>
                <!-- <p class="grey-text text-lighten-4">
                	<strong>Phone</strong><br>
                	1.1347.480.8621
                </p> -->
                <p class="grey-text text-lighten-4">
                	<strong>Email</strong><br>
                	<a class="footer-link" href="mailto:info@toasterapp.com">info@toasterapp.com</a> <!-- mailto -->
                </p>
              </div>

              <div class="col l4 m4 s12 connect-section">                
                <p>
                  <a class="footer-link" href="https://www.facebook.com/">
                    <i class="social-icon fa fa-facebook-square"></i>
                  </a>
                  <a class="footer-link" href="https://twitter.com/">
                    <i class="social-icon fa fa-twitter-square"></i>
                  </a>
                  <a class="footer-link" href="https://instagram.com/">
                    <i class="social-icon fa fa-instagram"></i>
                  </a>
                </p>
              </div>
              <div class="col l4 m4 s12 links-section">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3 footer-link" href="http://www.honeyjam.io/">Company</a></li>
                  <!-- <li><a class="grey-text text-lighten-3 footer-link" href="">Press</a></li> -->
                  <!-- <li><a class="grey-text text-lighten-3 footer-link" href="https://docs.google.com/forms/d/1BxjKUtqrlF_9cjHkabL_Dew9jQXdq0ZefO2edYlX3CM/viewform?c=0&w=1">Internship</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy; 2015 HoneyJam Studios
            </div>
          </div>
        </footer>
</template>