<template name="Layout">
  <head>
    <title>Yoon Jae Kim</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- all the other local CSS/LESS files are automatically referenced -->
  </head>
  <body id="page-top" data-spy="scroll" data-target="navbar">

    <div class="content-block">
      {{> yield "content"}}
    </div>

    
    <!-- Footer template -->
      <!-- {{> Footer}} -->
    <!-- //Footer template -->
  </body>

</template>
