<template name="Main">
  <!-- {{> Nav}} -->
	<div class="container-fluid wrapper">
	  {{> Intro}}
      {{> Footer}}
	</div>


</template>


<template name="Intro">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
      
        <div class="col s12 m6 text-left mockup-container">
          <img src="/images/mockup.png" class="mockup">
        </div>

        <div class="col s12 m6 text-left intro-text">
          <img src="/images/logo_horiz.png" class="logo">
          <h1>See what your coworkers are really thinking.</h1>
          <div class="btn-container">
            <a href="" class="btn btn-large btn-flat app-btn ios"><span class="btn-content"><i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;&nbsp;For iOS</span></a>
            <a href="" class="btn btn-large btn-flat app-btn android"><span class="btn-content"><i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;&nbsp;For Android</span></a>
          </div>
        </div>
        
      </div>
      <br><br>

    </div>
  </div>

</template>


