<template name="Privacy">
    <div class="container-fluid wrapper">
      <div class="section" id="privacy-section">
        <h2>Privacy Policy</h2>
        <p><strong>Last Updated: November 12, 2014</strong></p>

        <br>

        <p>This privacy policy (the “Privacy Policy”) describes how Phronesis Techne LLC, a New York limited liability company (“Phronesis”), treats certain information obtained by it in connection with <a href="/">www.mogeeapp.com</a> (the “Site”), including your Registration Information and Site Use Information (as defined below).  Your use of the services on the Site means that you agree with this Privacy Policy.  Phronesis reserves the right to revise, amend, or modify the Privacy Policy at any time and in any manner.  Please read, understand and revisit the Privacy Policy often.  Capitalized terms used herein but not otherwise defined have the meanings ascribed thereto in the Terms of Service on the Site.  Should you have any questions about the Privacy Policy or should you wish to change your Registration Information, please contact us at [mogeeapp@phronesistechne.com].  </p>

        <br>


        <h4>1. Collection and Use of Participant Registration Information and Site Use Information; Other Participants; Protection</h4>
        <p>Phronesis may aggregate information disclosed by Participants in registering an Account (the “Registration Information”) and with respect to the use by Participants of the Site (the “Site Use Information”) to, without limitation, help us to improve the services provided by Phronesis.  Phronesis will not sell Registration Information or Site Use Information to a third-party and Phronesis will not use the Registration Information or the Site Use Information other than as set forth in the Privacy Policy or the Terms of Service; provided, however, that Phronesis may disclose the Registration Information or Site Use Information if required by applicable law or as Phronesis otherwise, in its sole and absolute discretion, reasonably believes is necessary.</p>

        <p>Your Registration Information and/or Site Use Information, including, without limitation, with respect to picture(s) or your location that you provide to us through the Site (whether through submissions of Participant Content or automatically should you enable your device to send us your location information), may be displayed on the Site and be visible to other Participants.  In addition, we may use your Registration Information and Site Use Information to determine advertising from third-party advertisers that we view as appropriate for you and provide the same to you on your Account or elsewhere on the Site.  You may choose to keep some Registration Information and Site Use Information and other information that we may publish on your Account to be made visible to other Participants from being viewed by other Participants by manipulating your Account settings on the Site.</p>

        <p>Phronesis employs security measures on the Site to protect against the loss, unauthorized modification and unauthorized use of the Registration Information and the Site Use Information.  Notwithstanding the foregoing, Phronesis cannot guarantee that the security measures employed will prevent third-parties from illegally obtaining the Registration Information, the Site Use Information or any other information disclosed by Participants on the Site and to the extent permitted by applicable law, Phronesis will not accept liability for any such acquisition of information. Any information that you submit to the Site and/or disclose on the Site in public areas of the Site may become public information. Accordingly, you should exercise caution in disclosing personal information in these areas.</p>

        <br>

        <h4>2. Monitoring; Feedback</h4>
        <p>Phronesis may place small data files on your hard drive when you visit the Site (each, a “cookie”) in order to, without limitation, collect, store, and track information (though you may be able to block the placement of such data files, which may affect the performance of the Site on your device).  Phronesis may use information so collected to aid it to improve the services provided on the Site and the performance of the Site.</p>

        <p>Phronesis’s servers may record information ("Server Information") created by your use of the services on the Site. Such Server Information may include information such as your internet protocol address, pages visited, location, your mobile carrier, your device and application identification information, search terms, and cookie information.  Phronesis may use Server Information to provide the Site’s services and to, among other things, improve them.</p>

        <p>Should you provide us with comments and/or feedback on our Site or the services provided on the Site (“Feedback”), we may use and disclose Feedback, which you acknowledge is our property, for any purpose (however, we will not associate Feedback with your Registration Information or your Site Use Information).  If you email us, we may keep your message, email address and contact information to respond to your request.</p>


        <br>

        <h4>3.  Third Party Privacy</h4>
        <p>The Site may contain links to other websites. The Privacy Policy applies solely to information collected by us through the Site and does not apply to these third-party websites or applications.  Phronesis is not responsible for the privacy practices of these websites and Phronesis recommends that you read the privacy statements of each website that you visit.</p>

        <p>Phronesis may use third-party services to help provide services on the Site that may include, without limitation, hosting blogs and helping us understand the use of the Site’s services. These third-party service providers may collect information sent by your browser as part of a website request, such as cookies or your Internet protocol address.  Phronesis may share your Registration Information and/or Site Use Information with such service providers subject to confidentiality obligations consistent with this Privacy Policy and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.</p>


        <br>

        <h4>4.  Other Disclosure of Your Information; General</h4>
        <p>We may share or disclose your information at your direction.  In addition, in the event that Phronesis participates in a business transaction including, without limitation, a merger, an acquisition (through which Phronesis is acquired by another organization) or a sale of substantially all of our assets, your Registration Information and Site Use Information may be transferred.  You consent to any such transfer and that your Registration Information and Site Use Information may be processed under the terms of service and the privacy policy by such acquirer, or surviving entity, as the case may be, in connection with the relevant business transaction.</p>


      </div>
      {{> Footer}}
  </div>
</template>